<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> template engine </title>
</head>
<body>
  <h1>  this  is ejs page <%= user.name %></h1>
  <h2>  this  is ejs page <%= user.email %> </h2>
  <ul> %user.</ul>
  
</body>
</html>